
.title {
    font-size: large;
    color: blue;
}

body {
    margin: 0;
}

.pokemon {
    margin: 5px;
    width: 250px;
}

.list {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* padding: 16px; */
    margin-top: 110px;
    justify-content: space-between;
}

.search {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper{
    display: none;
}
.mx-2 {
    margin-top: 10px;
}