.title {
    font-size: large;
    color: blue;
}

body {margin:0;}

.pokemon {
    margin: 10px;
    width: 250px;
}

.list {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 16px;
    margin-top: 60px;
}

.search {
    overflow: hidden;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}