<div >
    <!-- <div > -->
        <form  class="search">
            <mat-form-field appearance="fill" class="mx-2" yPosition="above">
                <mat-label >Find Pokemons</mat-label>
                <input #findPokemon type="text" matInput placeholder="Pikachu"
                    (keyup)="filterPokemons(findPokemon.value)" class="text-center">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </form>
    <!-- </div> -->
</div>
<div class="list" style="display: flex; align-content: stretch;">
    <div *ngFor="let pokemon of pokemonsFiltered" class="pokemon">
        <app-poke-card [pokemon]="pokemon"></app-poke-card>
    </div>
</div>