<!-- <mat-card>
    <img mat-card-image [src]="details.sprites.front_default" alt="{{details.name}} image">
    <h1>Name: {{ details.name | upperCaseCustom }}</h1>
    <p>Weight: {{ details.weight }} lb</p>
    <back-to-main redirect="home" text="Back to home"></back-to-main>
</mat-card> -->
<div class="main">
  <mat-card>
    <mat-card-header class="card">
      <mat-card-title-group>
        <mat-card-title>{{ details.name | upperCaseCustom }}</mat-card-title>
        <mat-card-subtitle>{{details.types[0].type.name}}</mat-card-subtitle>
        <img mat-card-xl-image [src]="details.sprites.front_default" alt="{{details.name}} image">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <p>
        Weight: {{ details.weight }} lb
      </p>
      <p>
        Height: {{ details.height }} lb
      </p>
      <back-to-main redirect="home" text="Back to home"></back-to-main>
    </mat-card-content>
  </mat-card>
</div>