<div class="main">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>{{ details.name | upperCaseCustom }}</mat-card-title>
        <mat-card-subtitle>Type: {{details.types[0].type.name | lowerCaseCustom }}</mat-card-subtitle>
        <img mat-card-xl-image [src]="details.sprites.front_default" alt="{{details.name}} image">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      <ul class="poke-details">
        <li>
          Pokedex id: {{ details.order }}
        </li>
        <li>
          Weight: {{ details.weight }} lb
        </li>
        <li>
          Height: {{ details.height }} lb
        </li>
        <li>
          Ability: {{ details.abilities[0].ability.name }}
        </li>
      </ul>
      <back-to-main redirect="home" text="Back to home"></back-to-main>
    </mat-card-content>
  </mat-card>
</div>