<div class="main">
    <mat-card class="card">
        <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title>Juan Diego Renteria Gomez</mat-card-title>
            <mat-card-subtitle>STEPOner at SCIO</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image
            src="https://scontent-qro1-2.xx.fbcdn.net/v/t1.6435-9/119554958_3409235102455663_3927903931516872530_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=174925&_nc_eui2=AeFNYS1aUbtoR8iF1qxFCt0mZUKfYRBNZttlQp9hEE1m28-FGvty0ozuGwJZp5h1UOdUx5N82A6LAYgekWEyTGyz&_nc_ohc=uwF72tqEFXgAX-KFwy9&_nc_ht=scontent-qro1-2.xx&oh=00_AfBPuMTOcvpoho20XLQEp4G5NQyqAC0eplyQpBQ8kfRj8w&oe=643B6CC5">
        <mat-card-content>
            <generate-quote></generate-quote>
        </mat-card-content>
    </mat-card>
</div>